<div class="row container">
  <div class="whitespace col-md-12">
    <br>
    <br>
  </div>
  <div class="col-md-1">
    &nbsp;
  </div>
  <div class="col-md-8">
    <h3>Author: Ada Borzemska<br>
      e-mail: borzemska@gmail.com</h3>
  </div>
</div>
